body {
    font-family: 'Arial', sans-serif;
    background-color: #000000; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: rgba(44, 62, 80, 0.5); /* Azul oscuro con transparencia para el efecto de blur */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    border: 2px solid #ff00ff; /* Bordes de color magenta */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
}

input, button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
}

input {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5); /* Azul más oscuro con transparencia */
    color: white;
    border: 1px solid #7fff00; /* Bordes de color verde */
    backdrop-filter: blur(5px); /* Efecto de desenfoque */
}

button {
    background-color: #00ccf0; /* Azul */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0076fb; /* Azul más oscuro al pasar el mouse */
}

.mensaje {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(39, 174, 96, 0.5); /* Verde con transparencia */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none;
    color: white;
    border: 2px solid #ff00ff; /* Bordes de color magenta */
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
}

.mensaje.visible {
    display: block;
    animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
    from {
        transform: translate(-50%, -100%);
    }
    to {
        transform: translate(-50%, -50%);
    }
}
